/u1_xml_contract/nbproject/private/
/u1_ws_contract/nbproject/private/
/u1_ws_contract/build/
/cv_u1/build/
/cv_u1/nbproject/private/
/cv4_u1/build/
/cv4_u1/nbproject/private/
/cv4_u2_ws/build/
/cv4_u2_ws/nbproject/private/
/cv4_u2_xml/nbproject/private/
/cv4_u3/nbproject/private/
/cv4_u3_client/nbproject/private/
/cv4_u3/build/
/cv4_u3_client/build/
/cv4_u4_xml/nbproject/private/
/cv4_u4_ws/nbproject/private/
/cv4_u4_ws/build/